<!DOCTYPE html>
<html>

<head>
  <title>Popup</title>
</head>

<body>
  <h1>What would you like to do?</h1>
  <div id="change timer">
    <input type="text" id="timer">
    <button id="change timer">Change timer</button>
  </div>

  <div id="quote selection">
    <label for="quote to add">Quote:</label>
    <input type="text" id="quote to add">
    <label for="author">Author:</label>
    <input type="text" id="author">
    <button id="add quote b">Add Quote</button>
    <br>
    <input type="text" id="quote to remove">
    <button id="remove quote">Remove Quote</button>
    <br>
    <button id="list quotes">List Quotes</button>
  </div>

  <div id="scripts">
    <script src="popup.js"></script>
  </div>
</body>

</html>