<!DOCTYPE html>
<html>

<head>

  <title>Annoyer</title>
  <link rel="stylesheet" href="popup.css">
  <link rel="icon" href="images/annoyed128.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <header>
    <h1><img src="images/annoyed16.png" id="icon"> Annoyer</h1>
    <img id="pause" src="images/unpause.png">
  </header>

  <div class="outer">
    <div id="change_timer" class="center">
      <input id="number" type="number" max="60" min="1" value="5">
      <select id="time_unit">
        <option name="minutes" value="minutes">Minutes</option>
        <option name="hours" value="hours">Hours</option>
        <option name="seconds" value="seconds">Seconds</option>
      </select>
      <button id="change_timer_button">Change interval</button>
    </div>
  </div>

  <div id="quote_selection" class="outer">
    <div class="center">
      <textarea rows="4" cols="20" id="quote_to_add" placeholder="Quote"></textarea>
      <br>
      <textarea id="author" rows="1" cols="20" placeholder="Author"></textarea>
      <br>
      <button id="add_quote" class="center">Add Quote</button>
      <p id="after_add_quote"></p>
    </div>
  </div>

  <div id="list_quotes_div">
    <button id="list_quotes" class="center">List quotes</button>
  </div>

  <ul id="quote_list">
  </ul>

  <footer>
    <p>Mobile coming soon! </p>
  </footer>

  <div id="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="popup.js"></script>
  </div>

</body>

</html>